*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.header {
    position: relative; 
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='3175' height='3174'><defs><linearGradient id='a' x1='.639%' x2='99.361%' y1='0%' y2='100%'><stop offset='0%' stop-color='%23FF8F71'/><stop offset='100%' stop-color='%23FF3E55'/></linearGradient></defs><path fill='url(%23a)' fill-rule='evenodd' d='M1973.15 1193.185v788.41h-786.766v-688.41c0-55.228 44.772-100 100-100h686.767zm-1310.445-1.171c217.26 0 393.383 176.124 393.383 393.383v1.645c0 217.26-176.123 393.383-393.383 393.383S269.322 1804.3 269.322 1587.042v-1.645c0-217.26 176.124-393.383 393.383-393.383zm392.212-926.418v688.41c0 55.23-44.771 100-100 100H268.151v-788.41h786.766zm918.234 0v788.41h-686.767c-55.228 0-100-44.771-100-100v-688.41h786.767z' transform='rotate(22 162.072 2556.164)'/></svg>");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(246, 119, 73);
    
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    padding-bottom: 10%;
    border-bottom-left-radius: 100px;
    z-index: 0; 
    overflow: hidden; 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        background-color: rgba(171, 107, 107, 0.5);
    border-bottom-left-radius: 100px;
    z-index: 1; 
}

.header > * {
    position: relative;
    z-index: 2; 
}


  .header .navitem-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .header .navitem-logo ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 2pc;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppin', sans-serif;

  }
  .navitem-logo{
    padding-bottom: 3rem;
  }
  .header .top-nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-btn button:nth-child(1){
   background-color: transparent;
    border: none;
    cursor: pointer;
    margin-inline: 8px;
    width: 6rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
  }
  .nav-btn button:nth-child(2){
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-inline: 8px;
    width: 6rem;
    color: orangered;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  .hero-header h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: #fff;
  }
  .hero-header p{
    padding-top: 16px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .hero-header .button{
    margin-top: 20px;
  }
  .hero-header .button button{
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-inline: 8px;
  }
  .hero-header .button button:nth-child(1){
    color: orangered;
    font-size: 12px;
    font-weight: bold;
  }
  .hero-header .button button:nth-child(2){
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #fff;

  }

  .hero-intro{
    padding: 5rem;
    align-items: center;
  }
  .hero-intro .hero-items{
    display: flex;
    justify-content: space-between;
  }
  .hero-items img{
    width: 50%;
    margin-top: -8pc;
    margin-right: -5pc;
}
.hero-intro h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(4, 4, 65);
    padding-bottom: 5rem;
}

.intro-text h1{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(23, 23, 62);
    padding-bottom: 1.5rem;
}
.intro-text p{
    padding-bottom: 4rem;
    color: #666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-right: 6pc;
    text-align: justify;
  }


  .hero-intro-2 {
    position: relative; 
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='1014' height='1018'><g transform='matrix(1 0 0 -1 0 1018)' fill='none' fill-rule='evenodd'><rect fill='%233E4062' x='213' y='214' width='588' height='590' rx='294'/><rect stroke='%23878D92' opacity='.5' x='.5' y='.5' width='1013' height='1017' rx='506.5'/><rect stroke='%23878D92' x='170.5' y='171.5' width='673' height='675' rx='336.5'/></g></svg>");
    background-size: 50%;
    background-position: left center; 
    background-repeat: no-repeat;
    background-color: rgb(33, 12, 63); 
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
    z-index: 0; 
    overflow: hidden; 
    height: 50vh; 
    position: absolute;
}

.hero-intro-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: transparent; 
}

.hero-intro-2 > * {
    position: relative;
    z-index: 2; 
}


.hero-intro-2 .details{
    padding: 5rem;
    margin-left: 30pc;
    color: #fff;
}
.hero-intro-2 .details h1{
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2pc;
}
.hero-intro-2 .details p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #c9c8c8;
}
#image_img{
   position: relative;
   z-index: 999;
   margin-top: -10%;
}

.hero-intro-3 .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-intro-3 .details img{
    width: 50%;
    margin-top: 3pc;
    margin-right: -5pc;
}

.hero-intro-3 .special_details{
    padding: 5rem;
    align-items: center;
}
.hero-intro-3 .special_details h1{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(23, 23, 62);
    padding-bottom: 1.5rem;
}
.hero-intro-3 .special_details p{
    padding-bottom: 4rem;
    color: #666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-right: 6pc;
    text-align: justify;
  }


  footer{
    background-color: rgb(15, 2, 35);
    border-top-right-radius: 100px;
    padding: 1rem;
  }
  .footer-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .footer-details  .link{
      font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
  }
  .footer-details .link ul li{
    list-style: none;
    line-height: 35px;
    color: #acaaaa;
    cursor: pointer;
  }
  .footer-details .link h4{
    padding-bottom: 2pc;
  }
  #company{
    margin-top: -35px;
  }
  #contact{
    margin-top: -4.2pc;
  }

  #footer_logo{
    margin-top: -13pc;
    cursor: pointer;
  }